In [1]:
import numpy as np

In [2]:
np.random.randint(100)

13

In [3]:
lista_np = np.array([1,2,3,4])

In [4]:
type(lista_np)

numpy.ndarray

In [5]:
sum([1,2,3,4])

10

In [6]:
lista_np.sum()

10

In [7]:
matriz = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [8]:
matriz

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [9]:
matriz.diagonal()

array([1, 5, 9])

In [10]:
matriz.mean()

5.0

In [11]:
matriz.max()

9

In [12]:
matriz+matriz

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

In [13]:
matriz*matriz

array([[ 1,  4,  9],
       [16, 25, 36],
       [49, 64, 81]])

In [14]:
vetor = np.array([1,2,3,4,5,6,7,8,9])

In [15]:
vetor.max()

9

In [16]:
vetor.argmax()

8

In [17]:
vetor[8]

9

In [18]:
print(vetor.argmin())
vetor[vetor.argmin()]

0

1

In [19]:
np.linalg.eig(matriz)

(array([ 1.61168440e+01, -1.11684397e+00, -9.75918483e-16]),
 array([[-0.23197069, -0.78583024,  0.40824829],
        [-0.52532209, -0.08675134, -0.81649658],
        [-0.8186735 ,  0.61232756,  0.40824829]]))

In [20]:
vetor_str = vetor.astype(str)
vetor_str

array(['1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='<U11')

In [21]:
vetor.astype(float)

array([1., 2., 3., 4., 5., 6., 7., 8., 9.])

In [22]:
vetor_str.astype(float)

array([1., 2., 3., 4., 5., 6., 7., 8., 9.])

In [23]:
np.linalg.det(matriz)

-9.51619735392994e-16

## Ex 1

In [24]:
## fazendo roubando

d = np.arange(0,21,2)
d

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [25]:
pares = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])
np.extract(pares % 2 == 0, pares)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [26]:
pares

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [27]:
pares[pares % 2 == 0]

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [28]:
pares[pares%4==0]

array([ 0,  4,  8, 12, 16, 20])

In [29]:
pares[pares>5]

array([ 6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [30]:
pares>5

array([False, False, False, False, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [31]:
pares[pares<5]

array([0, 1, 2, 3, 4])

In [32]:
pares[[False, False, False, False, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True]]

array([ 6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [33]:
pares[[0,1,2,3]]

array([0, 1, 2, 3])

In [34]:
exemplo = [0,1,2,3,4]
exemplo[0]

0

In [35]:
res = []
for i in pares:
    if i > 5:
        res.append('True')
    else:
        res.append('False')
res

['False',
 'False',
 'False',
 'False',
 'False',
 'False',
 'True',
 'True',
 'True',
 'True',
 'True',
 'True',
 'True',
 'True',
 'True',
 'True',
 'True',
 'True',
 'True',
 'True',
 'True']

In [36]:
pares[pares>5]

array([ 6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [37]:
par = np.array([1,2,3,4,5,6])
par

array([1, 2, 3, 4, 5, 6])

In [38]:
par>5

array([False, False, False, False, False,  True])

In [39]:
pares[par>5]

IndexError: boolean index did not match indexed array along dimension 0; dimension is 21 but corresponding boolean dimension is 6

### Ex extra 1

Usando a lista pares com números de 0 até 20, remova os elementos pares e os elementos menores que 5.

In [40]:
pares[pares%2!=0]

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19])

In [41]:
pares[pares>5]

array([ 6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [42]:
aux = pares[pares>5]
aux[aux%2!=0]

array([ 7,  9, 11, 13, 15, 17, 19])

In [43]:
pares[(pares>5) & (pares%2!=0)]

array([ 7,  9, 11, 13, 15, 17, 19])

In [44]:
(pares%2!=0)

array([False,  True, False,  True, False,  True, False,  True, False,
        True, False,  True, False,  True, False,  True, False,  True,
       False,  True, False])

In [45]:
(pares>5)

array([False, False, False, False, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [46]:
(pares>5) & (pares%2!=0)

array([False, False, False, False, False, False, False,  True, False,
        True, False,  True, False,  True, False,  True, False,  True,
       False,  True, False])

### Ex extra 2

Usando a lista pares com números de 0 até 20, remova os elementos pares OU os elementos menores que 5.

In [47]:
(pares>5) | (pares%2!=0)

array([False,  True, False,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [48]:
pares[(pares>5) | (pares%2!=0)]

array([ 1,  3,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       20])

## Ex 2

In [49]:
a = np.arange(8).reshape((2,4))

In [50]:
a

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

## Ex 3

In [51]:
a = np.arange(10).reshape(2,5)
b = np.arange(10,25).reshape(3,5)
np.vstack((a,b))

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

### Exemplo extra hstack

In [52]:
a = np.arange(6).reshape(2,3)
b = np.arange(6,15).reshape(3,3)

In [53]:
a

array([[0, 1, 2],
       [3, 4, 5]])

In [54]:
b

array([[ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [55]:
a.T

array([[0, 3],
       [1, 4],
       [2, 5]])

In [56]:
np.hstack([a.T,b])

array([[ 0,  3,  6,  7,  8],
       [ 1,  4,  9, 10, 11],
       [ 2,  5, 12, 13, 14]])

### Ex extra 3

Dado a lista [1,2,1,3,4,3,2], retorne os elementos diferentes presentes na lista

In [57]:
## diferente == unicos

lista_aux = []
for i in [1,2,1,3,4,3,2]:
    if i not in lista_aux:
        lista_aux.append(i)
lista_aux

[1, 2, 3, 4]

In [58]:
### Modo numpy de viver!!!

l = [1,2,1,3,4,3,2]

np.unique(l)

array([1, 2, 3, 4])

In [59]:
np.unique([1,2,1,3,4,3,2])

array([1, 2, 3, 4])

## Ex 4

In [62]:
a = np.array([ 0, 10, 20, 40, 60])
b = np.array([10, 30, 40])

np.intersect1d(a,b)

array([10, 40])

In [68]:
np.intersect1d([ 0, 10, 20, 40, 60],[10, 30, 40],return_indices=True)

(array([10, 40]), array([1, 3], dtype=int64), array([0, 2], dtype=int64))

## Ex 5

In [75]:
array = np.array([[1,2,3,4],
                  [1,2,3,4],
                  [5,6,7,8],
                  [1,2,3,4],
                  [3,3,3,3],
                  [5,6,7,8]])
np.unique(array,axis=0)

array([[1, 2, 3, 4],
       [3, 3, 3, 3],
       [5, 6, 7, 8]])

## Conhecimento Extra

In [76]:
[0]*5

[0, 0, 0, 0, 0]

In [72]:
## como fazer um array só de zeros

np.zeros([5])

array([0., 0., 0., 0., 0.])

In [77]:
[[0]*3]*3

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [78]:
np.zeros([3,3])

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [79]:
## como fazer um array só de 1

np.ones(5)

array([1., 1., 1., 1., 1.])

In [80]:
np.ones([3,3])

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [81]:
np.ones([3,3])*2

array([[2., 2., 2.],
       [2., 2., 2.],
       [2., 2., 2.]])