## Exercício!

Importar os dois arquivo banks e juntar em apenas um DataFrame

In [4]:
import pandas as pd
import numpy as np

df = pd.read_excel("2019-11-29 banks.xlsx", sheet_name = "Sheet1")
df

,Unnamed: 0,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,199,CommunitySouth Bank & Trust,Easley,SC,57868,"CertusBank, National Association",21-Jan-11,6-Jun-16
1,78,The Royal Palm Bank of Florida,Naples,FL,57096,First National Bank of the Gulf Coast,20-Jul-12,21-Mar-14
2,63,Citizens First National Bank,Princeton,IL,3731,Heartland Bank and Trust Company,2-Nov-12,22-Nov-13
3,481,"TeamBank, NA",Paola,KS,4754,Great Southern Bank,20-Mar-09,12-Sep-16
4,287,Bank of Florida - Southeast,Fort Lauderdale,FL,57360,EverBank,28-May-10,8-Aug-16
...,...,...,...,...,...,...,...,...
160,305,Peotone Bank and Trust Company,Peotone,IL,10888,First Midwest Bank,23-Apr-10,23-Aug-12
161,113,Premier Community Bank of the Emerald Coast,Crestview,FL,58343,Summit Bank,16-Dec-11,21-Mar-14
162,475,American Southern Bank,Kennesaw,GA,57943,Bank of North Georgia,24-Apr-09,17-Aug-12
163,74,Second Federal Savings and Loan Association of...,Chicago,IL,27986,Hinsdale Bank & Trust Company,20-Jul-12,14-Jan-13
164,91,Plantation Federal Bank,Pawleys Island,SC,32503,First Federal Bank,27-Apr-12,10-Nov-16

Checar quantos estados (ST) existem no data frame

In [8]:
len(df["ST"].unique())

35

Checar quais estados (ST) existem no data frame

In [9]:
df["ST"].unique()

array(['SC', 'FL', 'IL', 'KS', 'GA', 'MN', 'CA', 'TN', 'NM', 'WI', 'AR',
       'MO', 'WA', 'PA', 'MD', 'NV', 'WV', 'PR', 'WY', 'TX', 'MI', 'MS',
       'LA', 'AL', 'NJ', 'OH', 'AZ', 'NY', 'CO', 'UT', 'NC', 'NE', 'VA',
       'NH', 'ID'], dtype=object)

Verificar quais são os 5 estados com maior quantidade de bancos falidos

In [14]:
df["ST"].value_counts().head()

GA    36
FL    22
IL    21
CA    13
MN     9
Name: ST, dtype: int64

Verificar quais são as instituições que mais compram bancos (acquiring institutions)

In [28]:
df["Acquiring Institution"].value_counts().head(12)

State Bank and Trust Company        7
No Acquirer                         6
Heartland Bank and Trust Company    4
Centennial Bank                     4
Community & Southern Bank           3
Premier American Bank, N.A.         3
Stearns Bank, N.A.                  3
City National Bank                  3
Great Southern Bank                 3
United Fidelity Bank, fsb           3
U.S. Bank, N.A.                     3
First California Bank               3
Name: Acquiring Institution, dtype: int64

Quantos bancos o State Bank of Texas adquiriu? Quantos eram realmente no Texas?

In [29]:
df[df["Acquiring Institution"]=="State Bank of Texas"]

,Unnamed: 0,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
51,21,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,24-Oct-14,6-Jan-16
150,4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

Qual a cidade na Californa tem mais bancos falidos?

In [30]:
df[df["ST"]=="CA"]

,Unnamed: 0,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
10,313,Innovative Bank,Oakland,CA,23876,Center Bank,16-Apr-10,23-Aug-12
36,498,1st Centennial Bank,Redlands,CA,33025,First California Bank,23-Jan-09,13-Apr-16
47,284,"Granite Community Bank, NA",Granite Bay,CA,57315,Tri Counties Bank,28-May-10,14-Sep-12
57,507,Security Pacific Bank,Los Angeles,CA,23595,Pacific Western Bank,7-Nov-08,28-Aug-12
62,182,"San Luis Trust Bank, FSB",San Luis Obispo,CA,34783,First California Bank,18-Feb-11,12-Sep-16
85,378,Pacific Coast National Bank,San Clemente,CA,57914,Sunwest Bank,13-Nov-09,10-Apr-17
92,90,Palm Desert National Bank,Palm Desert,CA,23632,Pacific Premier Bank,27-Apr-12,7-Dec-15
100,402,San Joaquin Bank,Bakersfield,CA,23266,Citizens Business Bank,16-Oct-09,22-Aug-12
102,504,PFF Bank & Trust,Pomona,CA,28344,"U.S. Bank, N.A.",21-Nov-08,4-Jan-13
135,293,1st Pacific Bank of California,San Diego,CA,35517,City National Bank,7-May-10,13-Dec-12
138,183,Charter Oak Bank,Napa,CA,57855,Bank of Marin,18-Feb-11,12-Sep-12
139,220,Western Commercial Bank,Woodland Hills,CA,58087,First California Bank,5-Nov-10,12-Sep-16
153,218,First Vietnamese American Bank,Westminster,CA,57885,Grandpoint Bank,5-Nov-10,12-Sep-12

Quantos bancos não possuem a palavra "Bank" e em seus nomes?

Quantos bancos possuem nome começando com a letra "s"?

Quantos valores CERT são acima de 20000?

Quantos bancos possuem nomes que consistem de exatamente duas palavras? (ex: "First Bank", "Bank Georgia")

Quantos bancos fecharam no ano de 2008?

Qual o CERT médio, máximo e mínimo por estado?

## Exercício!

Faça uma análise exploratória na base do iris. Encontre padrões, manualmente, sobre o que pode definir a classe de uma flor e cria uma função (com `if-else`) que dadas as características da flor, retorne sua classe.