In [11]:
arquivo = open("Aula/dados.csv","r")

In [12]:
texto = arquivo.read()

In [13]:
texto

'nome,idade,cidade\nrodrigo,26,sÃ£o paulo\ndiego,32,sÃ£o paulo\nbruno,27,osasco\nfernando,21,sÃ£o paulo\npablo,23,embu das artes\nkleber,36,sÃ£o paulo'

In [14]:
texto2=texto.split("\n") #separa por linha

In [15]:
texto2

['nome,idade,cidade',
 'rodrigo,26,sÃ£o paulo',
 'diego,32,sÃ£o paulo',
 'bruno,27,osasco',
 'fernando,21,sÃ£o paulo',
 'pablo,23,embu das artes',
 'kleber,36,sÃ£o paulo']

In [16]:
texto2[0:1]

['nome,idade,cidade']

In [17]:
texto2[0][1]

'o'

In [18]:
#criar lista de listas para separar as palavras por virgula (as listas são dividas por [])

In [19]:
for elem in texto2:
    elem=elem.split(",")
    print(elem)

['nome', 'idade', 'cidade']
['rodrigo', '26', 'sÃ£o paulo']
['diego', '32', 'sÃ£o paulo']
['bruno', '27', 'osasco']
['fernando', '21', 'sÃ£o paulo']
['pablo', '23', 'embu das artes']
['kleber', '36', 'sÃ£o paulo']

In [20]:
for i in range(len(texto2)):
    texto2[i]=texto2[i].split(",")
print(texto2)

[['nome', 'idade', 'cidade'], ['rodrigo', '26', 'sÃ£o paulo'], ['diego', '32', 'sÃ£o paulo'], ['bruno', '27', 'osasco'], ['fernando', '21', 'sÃ£o paulo'], ['pablo', '23', 'embu das artes'], ['kleber', '36', 'sÃ£o paulo']]

In [21]:
texto2

[['nome', 'idade', 'cidade'],
 ['rodrigo', '26', 'sÃ£o paulo'],
 ['diego', '32', 'sÃ£o paulo'],
 ['bruno', '27', 'osasco'],
 ['fernando', '21', 'sÃ£o paulo'],
 ['pablo', '23', 'embu das artes'],
 ['kleber', '36', 'sÃ£o paulo']]

In [22]:
texto2[0][1]

'idade'

In [23]:
texto2[0]

['nome', 'idade', 'cidade']

In [24]:
texto2[0][0]

'nome'

In [25]:
texto2[1][0]

'rodrigo'

In [26]:
for linha in texto2:
    print(linha)

['nome', 'idade', 'cidade']
['rodrigo', '26', 'sÃ£o paulo']
['diego', '32', 'sÃ£o paulo']
['bruno', '27', 'osasco']
['fernando', '21', 'sÃ£o paulo']
['pablo', '23', 'embu das artes']
['kleber', '36', 'sÃ£o paulo']

In [27]:
for linha in texto2:
    print(linha[0])

nome
rodrigo
diego
bruno
fernando
pablo
kleber

In [28]:
for linha in range(1,len(texto2)):
    texto2[linha][0]="Pietro"

In [29]:
for linha in texto2:
    print(linha[0])

nome
Pietro
Pietro
Pietro
Pietro
Pietro
Pietro

In [30]:
texto2

[['nome', 'idade', 'cidade'],
 ['Pietro', '26', 'sÃ£o paulo'],
 ['Pietro', '32', 'sÃ£o paulo'],
 ['Pietro', '27', 'osasco'],
 ['Pietro', '21', 'sÃ£o paulo'],
 ['Pietro', '23', 'embu das artes'],
 ['Pietro', '36', 'sÃ£o paulo']]

In [31]:
#dicionario utilizado para buscar uma informação pelo header (é uma evolução de uma lista)

In [32]:
dados={
    "nome":[],
    "idade":[],
    "cidade":[]  
}

In [33]:
for i in range(1,len(texto2)):
    dados["nome"].append(texto2[i][0])
    dados["idade"].append(texto2[i][1])
    dados["cidade"].append(texto2[i][2])

In [34]:
dados

{'nome': ['Pietro', 'Pietro', 'Pietro', 'Pietro', 'Pietro', 'Pietro'],
 'idade': ['26', '32', '27', '21', '23', '36'],
 'cidade': ['sÃ£o paulo',
  'sÃ£o paulo',
  'osasco',
  'sÃ£o paulo',
  'embu das artes',
  'sÃ£o paulo']}

In [35]:
dados["cidade"][4]

'embu das artes'

In [36]:
dados["nome"]

['Pietro', 'Pietro', 'Pietro', 'Pietro', 'Pietro', 'Pietro']

In [37]:
dados["idade"]

['26', '32', '27', '21', '23', '36']

In [38]:
dados["sexo"]=["M","M","M","M","M","M"] #["M"]*6

In [39]:
dados["sexo"]

['M', 'M', 'M', 'M', 'M', 'M']

In [40]:
def salario(horas_trabalhadas, valor_hora):
    salario=horas_trabalhadas*valor_hora
    return salario

In [41]:
salario(100,50)

5000

In [42]:
#numeros palindromos usando string

In [43]:
def palindromo(n):
    numero=str(n)
    invertido=numero[::-1]
    if numero==invertido:
        print("Numero é um palindromo")
    else:
        print("Numero não é um palindromo")

In [44]:
palindromo(1000)

Numero não é um palindromo

In [45]:
palindromo(1001.0)

Numero não é um palindromo

In [46]:
nome="Rodrigo"

In [47]:
nome[::-1]

'ogirdoR'

In [48]:
#numeros palindromos sem usar string

In [49]:
def palindromo2(x):
    contador=0
    y=x
    inverso=0
    z=x
    while y != 0:
        y=y//10
        contador+=1
    for i in range(contador):
        resto=x%10
        inverso=inverso+resto*(10**(contador-1-i))
        x=x//10
    if z==inverso:
        print("Numero é palindromo")
    else:
        print("Numero não é palindromo")
    return inverso

In [50]:
palindromo2(1000)

Numero não é palindromo

1

In [51]:
palindromo2(1001)

Numero é palindromo

1001

In [52]:
def palindromo3(n):
    copia = n
    inverso = 0
    while n != 0:
        resto = n%10
        n=n//10
        inverso = inverso*10+resto
    if copia==inverso:
        print("Numero é palindromo")
    else:
        print("Numero não é palindromo")
    return inverso

In [53]:
palindromo3(1001)

Numero é palindromo

1001

In [54]:
palindromo3(1000)

Numero não é palindromo

1

In [56]:
palindromo3(1001.5)

Numero não é palindromo

1501.0

In [57]:
palindromo3(1001.1)

Numero não é palindromo

1101.0000000000227

In [58]:
palindromo3(222)

Numero é palindromo

222

In [59]:
palindromo3(555555555)

Numero é palindromo

555555555